<!DOCTYPE html>

<head>

    <title>RSS Reader</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static '/rss/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    {% block body %}{% endblock %}
    <script>
        $(document).ready(function() {
            $(".mobileIcon").click(function() {
                $(".mobileMenu").css("width", "250px");
                $(".mobileMenu").show();
                $("#content").css("margin-left", "250px")
            })
            $(".closeMenu").click(function() {
                $(".moibleMenu").css("width", "0");
                $(".mobileMenu").hide();
                $("#content").css("margin", "0 auto")
            })
        })
    </script>
</body>

</html>