{% extends "rss/base.html" %}


{% block body %}

<br />

<form class="">

    <div class="form-group">

        <label for="inputPassword2" class="sr-only">Password</label>

        <input type="text" class="form-control" placeholder="Add RSS Feed" name="url">

    </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>

    

</form>

{% if feed %}

<h2 style="margin-top: 1em; margin-bottom: 1em">{{ feed.feed.title }}</h2>

{% if feed.entries %}

{% for entry in feed.entries %}

<div class="card" style="margin-bottom: 1em">

    <div class="card-header">

        {{ entry.published }}

    </div>

    <div class="card-body">

        <h5 class="card-title">{{ entry.title }}</h5>

        <p class="card-text">{{ entry.description }}</p>

        <a href="{{ entry.link }}" target="_blank" class="btn btn-primary">Read More</a>

    </div>

</div>




{% endfor %}

{% endif %}

{% else %}

<br />

<h3>Enter your favorite feed to get started</h3>

{% endif %}




{{ feed2 }}




{% endblock %}